<div class="container">
  <div class="card">
    <h2 class="card-title"><%= @board.name %></h2>
    <p class="card-content"><%= @board.description %></p>
  </div>
</div>

<div class="container">
  <div class="add-board-card">
    <h2 class="add-board">+ Add new board</h2>
</div>