<div class="title">All Boards</div>
<div class="container">
  <div class="card">
    <h2 class="card-title"><%= @board.name %></h2>
    <p class="card-content"><%= @board.description %></p>
  </div>

  <div class="card">
    <h2 class="card-title">タスクの名前</h2>
    <p class="card-content">タスクの説明</p>
  </div>

  <div class="card">
    <h2 class="card-title">タスクの名前</h2>
    <p class="card-content">タスクの説明</p>
  </div>

  <div class="add-board-card">
    <h2 class="add-board-text">+ Add new board</h2>

</div>

