<div class="title">All Tasks</div>
<div class="container">


  <div class="card">  
    <h2 class="card-title"><%= @board.name %></h2>
    <p class="card-content">task content</p>
  </div>


  <div class="add-board-card">
    <h2 class="add-board-text">+ Add new task</h2>

</div>