.card {
  padding: 17px 30px;
  height: auto;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.card-title {
  height: 25px;
  top: calc(50% - 25px/2 - 12.5px);
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */


  color: #000000;
  font-weight: bold;
  
}

.card-content {
  height: 19px;
  top: calc(50% - 19px/2 + 15.5px);

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.4;

  
}

.add-board-card {
height: 160px;
background: #FFFFFF;
border: 1px dashed rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin-left: 20px;
}

.add-board-text {
  height: 25px;
  top: calc(50% - 25px/2);

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
